<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Restaurant</title>
  </head>
  <body>
    <h1>About <% name %></h1>
    <p>
      Established in 2001 by Fairy, What's Fare is Fair is a beloved family
      restaurant. Many of their customers have been dining at this establishment
      for many years. They love to eat, eat, eat and they love to drink, drink,
      drink.
    </p>
  </body>
</html>
